<div style="width:100%;background-color:#f5f5f5;">
    <div style="background-color:#fff;margin:20px auto;padding:0;width:75%;">
        <h1 style="background-color:#669900;color:#fff;padding:20px;font-weight:bold;">Email Verification</h1>
        <h2 style="padding:10px 20px;">First Name</h2>
        <p style="padding:10px 20px;">{{first_name}}</p>
        <h2 style="padding:10px 20px;">Last Name</h2>
        <p style="padding:10px 20px;">{{last_name}}</p>
        <h2 style="padding:10px 20px;">Email</h2>
        <p style="padding:10px 20px;">{{email}}</p>
        <h2 style="padding:10px 20px;">Verification Link</h2>
        <p style="padding:10px 20px;"><a href="{{verification_link}}">{{verification_link}}</a></p>
    </div>
</div>